.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--header-footer-bg);
  color: var(--header-footer-text);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
