@import "tailwindcss";

:root {
  --background: #C8E6C9;
  --foreground: #171717;
  --header-footer-bg: #404e3b;
  --header-footer-text: #e6e6e6;
}

html {
  height: 100%;
}

body {
  /* background: linear-gradient(to right, var(--cg-grey), black); */
  background: var(--background);
  position: relative;
  min-height: 100vh;
  padding: 0;
  margin: 0;

  font-size: 14px;
}
