@import "tailwindcss";

:root {
  --background: #c8e6c9;
  --foreground: #171717;
  --header-footer-bg: #404e3b;
  --header-footer-text: #e6e6e6;
}

html {
  height: 100%;
}

body {
  /* background: linear-gradient(to right, var(--cg-grey), black); */
  background: var(--background);
  position: relative;
  min-height: 100vh;
  padding: 0;
  margin: 0;

  font-size: 14px;
}

main {
  padding: 0 20px 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

p {
  font-weight: bold;
  font-size: 14px;
}

main .page-title {
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
}
